html,
body {
  height: 100%;
  margin: 0px;
}


.theme-dark {
  --a-color: #bdbdbd;
  --a-bg-color: #000;
  --b-color: #bdbdbd;
  --b-bg-color: #000;
}

.theme-light {
  --a-color: #4c4c4c;
  --a-bg-color: #ffffff;
  --b-color: #4c4c4c;
  --b-bg-color: #ffffff;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--a-bg-color);
}

.clock {
  color: var(--a-color);
  font-size: x-large;
  font-family: "Avenir Next W01","Avenir Next W00","Avenir Next",Avenir,"Helvetica Neue",sans-serif;
  text-align: center;
}

.date {
  color: var(--b-color);
  font-size: medium;
  font-family: "Avenir Next W01","Avenir Next W00","Avenir Next",Avenir,"Helvetica Neue",sans-serif;
  text-align: center;
}